# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Env files
.env
backend/.env
frontend/.env

# Node
frontend/node_modules/
frontend/dist/

# Runtime generated assets
backend/app/static/generated/photos/*
backend/app/static/generated/qr/*
!backend/app/static/generated/photos/.gitkeep
!backend/app/static/generated/qr/.gitkeep

# Virtual environment
.venv/

# OS/editor
.vscode/
.DS_Store
Thumbs.db
